@font-face {
  font-family: 'Gimel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(gimel.otf) format('truetype');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F, U+E000-E00C;
}

* {
  font-family: 'Gimel', sans-serif;
}

.input {
  max-width: 850px;
  width: 100%;
  height: 400px;
  padding: 20px;
  font-size: 20px;
  border: solid 1px gray;
  box-sizing: border-box;
  resize: none;
  direction: rtl;
}

.simple-keyboard {
  max-width: 850px;
}